asgiref==3.8.1
beautifulsoup4==4.13.3
dj-database-url==2.3.0
Django==5.1.7
django-bootstrap4==25.1
gunicorn==23.0.0
packaging==24.2
psycopg2-binary==2.9.10
python-dotenv==1.1.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
whitenoise==6.9.0
